In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%cd Downloads

C:\Users\Roshan Maur\Downloads

In [3]:
df_ball = pd.read_csv("archive (2)/IPL Ball-by-Ball 2008-2020.csv")

In [4]:
df_matches = pd.read_csv("archive (2)/IPL Matches 2008-2020.csv")

In [5]:
df_ball.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [6]:
df_matches.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [7]:
df_matches.drop("id", axis=1, inplace=True)
df_ball.drop("id", axis=1, inplace=True)

#### Which umpire has refereed the most matches?

In [8]:
umpires = df_matches["umpire1"].unique().tolist()
second_umpires = df_matches["umpire2"].unique().tolist()

In [9]:
umpires_all = []
for x in umpires:
    if x not in second_umpires:
        umpires_all.append(x)
umpires_all.extend(umpires)
len(umpires_all)

57

In [10]:
df_umpires = df_matches["umpire1"].value_counts().reset_index()
df_second_umpires = df_matches["umpire2"].value_counts().reset_index()
df_all_umpires = pd.merge(df_umpires, df_second_umpires)
df_all_umpires.rename(columns={"index":"umpire_name", "umpire1":"as_umpire1", "umpire2":"as_umpire2"}, inplace=True)
df_all_umpires

        umpire_name  as_umpire1  as_umpire2
0   HDPK Dharmasena          78          16
1      AK Chaudhary          56          31
2         M Erasmus          40          25
3            S Ravi          37          84
4       BR Doctrove          34           8
5       CB Gaffaney          34          13
6     C Shamshuddin          22          60
7          NJ Llong          21          16
8       Nitin Menon          20          37
9       RE Koertzen          20          21
10         S Asnani          19          11
11      VA Kulkarni          19          31
12     BNJ Oxenford          16          32
13        JD Cloete          16           1
14         YC Barde          14           5
15   A Nand Kishore          14          11
16       BG Jerling          13           4
17   RK Illingworth          13          18
18        SS Hazare          11           6
19            S Das          10           5
20        MR Benson          10           2
21      K Hariharan          10          11
22        DJ Harper           9          18
23        CK Nandan           8          49
24        IL Howell           7           7
25         SJ Davis           6           1
26        VK Sharma           6          20
27           SD Fry           5           1
28        RJ Tucker           5          41
29       A Deshmukh           5           7
30       PR Reiffel           5          19
31      SK Tarapore           5          26
32        PG Pathak           4           7
33         IJ Gould           3           3
34        AM Saheba           3          23
35   AV Jayaprakash           2           4
36        K Srinath           2          13
37       SJA Taufel           1          54
38       SL Shastri           1          13

In [11]:
most_as_u1 = df_all_umpires.loc[df_all_umpires["as_umpire1"].idxmax(), "umpire_name"]
most_as_u2 = df_all_umpires.loc[df_all_umpires["as_umpire2"].idxmax(), "umpire_name"]
most_as_u1, most_as_u2

('HDPK Dharmasena', 'S Ravi')

In [12]:
df_all_umpires["total"] = df_all_umpires["as_umpire1"] + df_all_umpires["as_umpire2"]
most_as_u = df_all_umpires.loc[df_all_umpires["total"].idxmax(), "umpire_name"]
most_as_u

'S Ravi'

#### Which player has won the most MOTM ?

In [13]:
all_motm_players = df_matches["player_of_match"].unique().tolist()
len(all_motm_players)

234

In [14]:
top_15_motm = df_matches["player_of_match"].value_counts().reset_index()
top_15_motm.rename(columns={"index":"player_of_match", "player_of_match":"motm_awards"})
top_15_motm.head(15)

             index  player_of_match
0   AB de Villiers               23
1         CH Gayle               22
2        RG Sharma               18
3        DA Warner               17
4         MS Dhoni               17
5        SR Watson               16
6        YK Pathan               16
7         SK Raina               14
8          V Kohli               13
9        G Gambhir               13
10       AM Rahane               12
11      MEK Hussey               12
12      AD Russell               11
13        A Mishra               11
14      KA Pollard               11

#### Teams with the most wins

In [15]:
winner_team_list = df_matches["winner"].unique().tolist()
winner_team_list

['Kolkata Knight Riders',
 'Chennai Super Kings',
 'Delhi Daredevils',
 'Royal Challengers Bangalore',
 'Rajasthan Royals',
 'Kings XI Punjab',
 'Deccan Chargers',
 'Mumbai Indians',
 'Pune Warriors',
 'Kochi Tuskers Kerala',
 nan,
 'Sunrisers Hyderabad',
 'Rising Pune Supergiants',
 'Gujarat Lions',
 'Rising Pune Supergiant',
 'Delhi Capitals']

In [16]:
# replace DC to DD
# replace DC to SRH
# replace RPS to RPSs

In [17]:
idx_rps = df_matches[df_matches["winner"]=="Rising Pune Supergiant"].index.tolist()
for x in idx_rps:
    df_matches.loc[x, "winner"] = "Rising Pune Supergiants"

In [18]:
idx_dc = df_matches[df_matches["winner"]=="Deccan Chargers"].index.tolist()
for x in idx_dc:
    df_matches.loc[x, "winner"] = "Sunrisers Hyderabad"

In [19]:
idx_dd = df_matches[df_matches["winner"]=="Delhi Daredevils"].index.tolist()
for x in idx_dd:
    df_matches.loc[x, "winner"] = "Delhi Capitals"

In [20]:
idx_nan = df_matches[df_matches["winner"].isna()].index.tolist()

In [21]:
for z in idx_nan:
    df_matches[z, "winner"] = "N/A"

In [22]:
winners_df = df_matches["winner"].value_counts().reset_index().rename(columns={"index":"winner", "winner":"num_wins"})
winners_df

                         winner  num_wins
0                Mumbai Indians       120
1           Chennai Super Kings       106
2         Kolkata Knight Riders        99
3           Sunrisers Hyderabad        95
4   Royal Challengers Bangalore        91
5               Kings XI Punjab        88
6                Delhi Capitals        86
7              Rajasthan Royals        81
8       Rising Pune Supergiants        15
9                 Gujarat Lions        13
10                Pune Warriors        12
11         Kochi Tuskers Kerala         6

#### first bat win percentage and second bat win percentage

In [23]:
df_matches

,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,"(241, winner)","(486, winner)","(511, winner)","(744, winner)"
0,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,N/A,N/A,N/A,N/A
1,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,N/A,N/A,N/A,N/A
2,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,N/A,N/A,N/A,N/A
3,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper,N/A,N/A,N/A,N/A
4,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel,N/A,N/A,N/A,N/A
812,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon,N/A,N/A,N/A,N/A
813,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi,N/A,N/A,N/A,N/A
814,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi,N/A,N/A,N/A,N/A
815,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,N/A,N/A,N/A,N/A

In [24]:
first_bat = df_matches[(df_matches["result"]=="runs")]
len(first_bat)/len(df_matches)

0.44607843137254904

In [25]:
second_bat = df_matches[(df_matches["result"]=="wickets")]
len(second_bat)/len(df_matches)

0.5330882352941176

In [26]:
tie = df_matches[df_matches["result"]=="tie"]
len(tie)/len(df_matches)

0.015931372549019607

#### toss winning team opting to bat win percentage and toss winning team opting to field win percentage

In [27]:
toss_winning_df = df_matches.loc[:, ["toss_winner", "toss_decision", "winner", "result"]]
toss_winning_df

,toss_winner,toss_decision,winner,result
0,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs
1,Chennai Super Kings,bat,Chennai Super Kings,runs
2,Rajasthan Royals,bat,Delhi Capitals,wickets
3,Mumbai Indians,bat,Royal Challengers Bangalore,wickets
4,Deccan Chargers,bat,Kolkata Knight Riders,wickets
...,...,...,...,...
811,Mumbai Indians,field,Royal Challengers Bangalore,tie
812,Delhi Capitals,field,Mumbai Indians,runs
813,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets
814,Delhi Capitals,bat,Delhi Capitals,runs
815,Delhi Capitals,bat,Mumbai Indians,wickets

In [28]:
toss_winning_df.toss_winner.unique().tolist()

['Royal Challengers Bangalore',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Mumbai Indians',
 'Deccan Chargers',
 'Kings XI Punjab',
 'Kolkata Knight Riders',
 'Delhi Daredevils',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Sunrisers Hyderabad',
 'Gujarat Lions',
 'Rising Pune Supergiants',
 'Rising Pune Supergiant',
 'Delhi Capitals']

In [29]:
for x in toss_winning_df[toss_winning_df["toss_winner"]=="Deccan Chargers"].index.tolist():
    toss_winning_df.loc[x, "toss_winner"] = "Sunrisers Hyderabad"
    
for x in toss_winning_df[toss_winning_df["toss_winner"]=="Delhi Daredevils"].index.tolist():
    toss_winning_df.loc[x, "toss_winner"] = "Delhi Capitals"
    
for x in toss_winning_df[toss_winning_df["toss_winner"]=="Rising Pune Supergiant"].index.tolist():
    toss_winning_df.loc[x, "toss_winner"] = "Rising Pune Supergiants"

In [30]:
first_bat_toss_win = 0
first_bowl_toss_win = 0
wrong_entries = []
toss_wins_match_wins = 0

for x in range(len(df_matches)):
    if toss_winning_df.loc[x, "toss_winner"] == toss_winning_df.loc[x, "winner"]:
        toss_wins_match_wins+=1
        if toss_winning_df.loc[x, "toss_decision"] == "bat" and toss_winning_df.loc[x, "result"] == "runs":
            first_bat_toss_win += 1
        elif toss_winning_df.loc[x, "toss_decision"] == "field" and toss_winning_df.loc[x, "result"] == "wickets":
            first_bowl_toss_win += 1
        else:
            wrong_entries.append(x)
    else:
        continue

In [31]:
toss_wins_match_wins, first_bat_toss_win, first_bowl_toss_win

(418, 143, 267)

In [32]:
for x in wrong_entries:
    if toss_winning_df.loc[x, "toss_decision"] == "field":
        first_bowl_toss_win += 1
    else:
        first_bat_toss_win += 1

In [33]:
toss_wins_match_wins, first_bowl_toss_win, first_bat_toss_win

(418, 273, 145)

In [34]:
first_bat_toss_win/toss_wins_match_wins

0.34688995215311

In [35]:
first_bowl_toss_win/toss_wins_match_wins

0.65311004784689

In [36]:
toss_wins_match_wins/len(df_matches)

0.5122549019607843

#### number of sixes and number of fours

In [37]:
df_ball

,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193464,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193465,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians
193466,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193467,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians

In [38]:
df_ball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   inning            193468 non-null  int64
 1   over              193468 non-null  int64
 2   ball              193468 non-null  int64
 3   batsman           193468 non-null  object
 4   non_striker       193468 non-null  object
 5   bowler            193468 non-null  object
 6   batsman_runs      193468 non-null  int64
 7   extra_runs        193468 non-null  int64
 8   total_runs        193468 non-null  int64
 9   non_boundary      193468 non-null  int64
 10  is_wicket         193468 non-null  int64
 11  dismissal_kind    9495 non-null    object
 12  player_dismissed  9495 non-null    object
 13  fielder           6784 non-null    object
 14  extras_type       10233 non-null   object
 15  batting_team      193468 non-null  object
 16  bowling_team      193277 non-null  object
dtypes: int64(8), object(9)
memory usage: 25.1+ MB

In [39]:
sixes = len(df_ball[df_ball["batsman_runs"]==6])
fours = len(df_ball[df_ball["batsman_runs"]==4])

In [40]:
sixes, fours

(8902, 21908)

#### top 10 players with most fours and sixes

In [41]:
sixes = df_ball[df_ball["batsman_runs"]==6]
top_ten = sixes["batsman"].value_counts().nlargest(10).reset_index().rename(columns={"index":"batsman", "batsman":"sixes_hit"})

In [42]:
top_ten

          batsman  sixes_hit
0        CH Gayle        349
1  AB de Villiers        235
2        MS Dhoni        216
3       RG Sharma        214
4         V Kohli        202
5      KA Pollard        198
6       DA Warner        195
7        SK Raina        194
8       SR Watson        190
9      RV Uthappa        163

In [43]:
fours = df_ball[df_ball["batsman_runs"]==4]
top_ten_batsman_with_most_fours = fours["batsman"].value_counts().nlargest(10).reset_index()

In [44]:
top_ten_batsman_with_most_fours.rename(columns={"index":"batsman", "batsman":"fours_hit"}, inplace=True)

In [45]:
top_ten_batsman_with_most_fours

          batsman  fours_hit
0        S Dhawan        591
1       DA Warner        510
2         V Kohli        504
3        SK Raina        493
4       G Gambhir        492
5       RG Sharma        458
6      RV Uthappa        454
7       AM Rahane        416
8  AB de Villiers        390
9        CH Gayle        384

#### top ten bowlers with most wickets

In [46]:
df_ball.dismissal_kind.unique()

array([nan, 'caught', 'run out', 'bowled', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field'], dtype=object)

In [47]:
wickets = df_ball[~((df_ball["dismissal_kind"].isna()) | (df_ball["dismissal_kind"]=="run out") | (df_ball["dismissal_kind"]=="retired hurt") | (df_ball["dismissal_kind"]=="obstructing the field"))]

In [48]:
wickets.dismissal_kind.unique()

array(['caught', 'bowled', 'lbw', 'stumped', 'caught and bowled',
       'hit wicket'], dtype=object)

In [49]:
top_ten_bowlers = wickets["bowler"].value_counts().nlargest(10).reset_index().rename(columns={"index":"bowler", "bowler":"wickets"})

In [50]:
top_ten_bowlers

            bowler  wickets
0       SL Malinga      170
1         A Mishra      160
2        PP Chawla      156
3         DJ Bravo      153
4  Harbhajan Singh      150
5         R Ashwin      138
6          B Kumar      136
7        SP Narine      127
8        YS Chahal      121
9         UT Yadav      119

#### top 10 batsman with the most runs scored

In [51]:
top_ten_runs_scorers = df_ball.groupby(["batsman"])["batsman_runs"].count().nlargest(10).reset_index()

In [52]:
top_ten_runs_scorers

      batsman  batsman_runs
0     V Kohli          4609
1    S Dhawan          4208
2   RG Sharma          4088
3    SK Raina          4041
4   DA Warner          3819
5  RV Uthappa          3658
6   G Gambhir          3524
7    MS Dhoni          3493
8    CH Gayle          3342
9   AM Rahane          3325

#### top ten bowlers with the most boundaries conceded

In [53]:
top_ten_conceded = df_ball[(df_ball["batsman_runs"]==6) | (df_ball["batsman_runs"]==4)]["bowler"].value_counts().nlargest(10).reset_index()

In [54]:
top_ten_conceded.rename(columns={"index":"bowler", "bowler":"boundaries_conceded"}, inplace=True)

In [55]:
top_ten_conceded

            bowler  boundaries_conceded
0         UT Yadav                  509
1        PP Chawla                  497
2         DJ Bravo                  443
3          P Kumar                  442
4  Harbhajan Singh                  431
5          B Kumar                  424
6       SL Malinga                  400
7         A Mishra                  394
8    R Vinay Kumar                  394
9         I Sharma                  378

#### Team's W/D/L/Number of matches played statistics

In [56]:
df_matches

,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,"(241, winner)","(486, winner)","(511, winner)","(744, winner)"
0,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,N/A,N/A,N/A,N/A
1,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,N/A,N/A,N/A,N/A
2,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,N/A,N/A,N/A,N/A
3,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper,N/A,N/A,N/A,N/A
4,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel,N/A,N/A,N/A,N/A
812,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon,N/A,N/A,N/A,N/A
813,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi,N/A,N/A,N/A,N/A
814,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi,N/A,N/A,N/A,N/A
815,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,N/A,N/A,N/A,N/A

In [57]:
df_matches.winner.unique().tolist()

['Kolkata Knight Riders',
 'Chennai Super Kings',
 'Delhi Capitals',
 'Royal Challengers Bangalore',
 'Rajasthan Royals',
 'Kings XI Punjab',
 'Sunrisers Hyderabad',
 'Mumbai Indians',
 'Pune Warriors',
 'Kochi Tuskers Kerala',
 nan,
 'Rising Pune Supergiants',
 'Gujarat Lions']

In [58]:
for x in df_matches[(df_matches["team1"]=="Deccan Chargers") | (df_matches["team2"]=="Deccan Chargers")].index.tolist():
    if df_matches.loc[x, "team1"] == "Deccan Chargers":
        df_matches.loc[x, "team1"] = "Sunrisers Hyderabad"
    else:
        df_matches.loc[x, "team2"] = "Sunrisers Hyderabad"

In [59]:
for x in df_matches[(df_matches["team1"]=="Delhi Daredevils") | (df_matches["team2"]=="Delhi Daredevils")].index.tolist():
    if df_matches.loc[x, "team1"] == "Delhi Daredevils":
        df_matches.loc[x, "team1"] = "Delhi Capitals"
    else:
        df_matches.loc[x, "team2"] = "Delhi Capitals"

In [60]:
for x in df_matches[(df_matches["team1"]=="Rising Pune Supergiant") | (df_matches["team2"]=="Rising Pune Supergiant")].index.tolist():
    if df_matches.loc[x, "team1"] == "Rising Pune Supergiant":
        df_matches.loc[x, "team1"] = "Rising Pune Supergiants"
    else:
        df_matches.loc[x, "team2"] = "Rising Pune Supergiants"

In [61]:
df_matches.team1.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Gujarat Lions',
       'Rising Pune Supergiants'], dtype=object)

In [62]:
df_matches.team2.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Sunrisers Hyderabad',
       'Kings XI Punjab', 'Delhi Capitals', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Gujarat Lions'], dtype=object)

In [63]:
team_stats = pd.DataFrame({"team_name": df_matches.team2.unique().tolist()})

In [64]:
matches_played = []
num_wins = []

for x in team_stats["team_name"]:
    matches_played.append(len(df_matches[(df_matches["team1"]==x) | (df_matches["team2"]==x)]))
    num_wins.append(len(df_matches[df_matches["winner"]==x]))

In [72]:
team_stats["matches_played"] = matches_played
team_stats["wins"] = num_wins

In [66]:
tie_or_na = df_matches[(df_matches["result"].isna())]

In [67]:
na = []
for x in team_stats["team_name"]:
    if len(tie_or_na[(tie_or_na["team1"] == x) | (tie_or_na["team2"]==x)])>0:
        na.append(len(tie_or_na[(tie_or_na["team1"] == x) | (tie_or_na["team2"]==x)]))
    else:
        na.append(0)

In [68]:
team_stats["N/A"] = na

In [69]:
team_stats["loss"] = team_stats["matches_played"] - team_stats["wins"] - team_stats["N/A"]

In [70]:
team_stats["win%"] = (team_stats["wins"]/team_stats["matches_played"])*100

In [73]:
team_stats

                      team_name  matches_played  wins  N/A  loss       win%
0         Kolkata Knight Riders             192    99    0    93  51.562500
1           Chennai Super Kings             178   106    0    72  59.550562
2              Rajasthan Royals             161    81    2    78  50.310559
3   Royal Challengers Bangalore             195    91    3   101  46.666667
4           Sunrisers Hyderabad             199    95    0   104  47.738693
5               Kings XI Punjab             190    88    0   102  46.315789
6                Delhi Capitals             194    86    2   106  44.329897
7                Mumbai Indians             203   120    0    83  59.113300
8          Kochi Tuskers Kerala              14     6    0     8  42.857143
9                 Pune Warriors              46    12    1    33  26.086957
10      Rising Pune Supergiants              30    15    0    15  50.000000
11                Gujarat Lions              30    13    0    17  43.333333

#### Knockout round stats (team vise)

In [80]:
df_matches.drop(columns=[(241, "winner"), (486, "winner"), (511, "winner"), (744, "winner")], axis=1, inplace=True)

In [81]:
df_matches.eliminator.unique().tolist()

['N', 'Y', nan]

In [82]:
df_matches[df_matches.eliminator == "N"].head()

,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [86]:
df_matches["date"] = pd.to_datetime(df_matches["date"])

In [88]:
df_matches["year"] = df_matches["date"].dt.year

In [91]:
df_matches.year.unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019, 2020], dtype=int64)

In [96]:
df_matches[df_matches.year == 2011].tail(5)

,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,year
243,Kolkata,2011-05-22,JEC Franklin,Eden Gardens,0,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,5.0,N,NaN,SK Tarapore,SJA Taufel,2011
244,Mumbai,2011-05-24,SK Raina,Wankhede Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,6.0,N,NaN,Asad Rauf,SJA Taufel,2011
245,Mumbai,2011-05-25,MM Patel,Wankhede Stadium,0,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,field,Mumbai Indians,wickets,4.0,N,NaN,Asad Rauf,SJA Taufel,2011
246,Chennai,2011-05-27,CH Gayle,"MA Chidambaram Stadium, Chepauk",0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,runs,43.0,N,NaN,Asad Rauf,SJA Taufel,2011
247,Chennai,2011-05-28,M Vijay,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,Chennai Super Kings,runs,58.0,N,NaN,Asad Rauf,SJA Taufel,2011

In [97]:
3, 3, 3+1, 4

(3, 3, 4, 4)