In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import collections
import itertools

In [3]:
df_ball = pd.read_csv("archive (2)/IPL Ball-by-Ball 2008-2020.csv")

In [4]:
df_matches = pd.read_csv("archive (2)/IPL Matches 2008-2020.csv")

In [5]:
df_ball.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [6]:
df_matches.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [7]:
# dropping the id column
df_matches.drop("id", axis=1, inplace=True)
df_ball.drop("id", axis=1, inplace=True)

#### Which umpire has refereed the most matches?

In [8]:
umpires = df_matches["umpire1"].unique().tolist()
second_umpires = df_matches["umpire2"].unique().tolist()

In [9]:
umpires_all = []
for x in umpires:
    if x not in second_umpires:
        umpires_all.append(x)
umpires_all.extend(umpires)
len(umpires_all)

57

In [10]:
df_umpires = df_matches["umpire1"].value_counts().reset_index()
df_second_umpires = df_matches["umpire2"].value_counts().reset_index()
df_all_umpires = pd.merge(df_umpires, df_second_umpires)
df_all_umpires.rename(columns={"index":"umpire_name", "umpire1":"as_umpire1", "umpire2":"as_umpire2"}, inplace=True)
df_all_umpires

        umpire_name  as_umpire1  as_umpire2
0   HDPK Dharmasena          78          16
1      AK Chaudhary          56          31
2         M Erasmus          40          25
3            S Ravi          37          84
4       BR Doctrove          34           8
5       CB Gaffaney          34          13
6     C Shamshuddin          22          60
7          NJ Llong          21          16
8       Nitin Menon          20          37
9       RE Koertzen          20          21
10         S Asnani          19          11
11      VA Kulkarni          19          31
12     BNJ Oxenford          16          32
13        JD Cloete          16           1
14         YC Barde          14           5
15   A Nand Kishore          14          11
16       BG Jerling          13           4
17   RK Illingworth          13          18
18        SS Hazare          11           6
19            S Das          10           5
20        MR Benson          10           2
21      K Hariharan          10          11
22        DJ Harper           9          18
23        CK Nandan           8          49
24        IL Howell           7           7
25         SJ Davis           6           1
26        VK Sharma           6          20
27           SD Fry           5           1
28        RJ Tucker           5          41
29       A Deshmukh           5           7
30       PR Reiffel           5          19
31      SK Tarapore           5          26
32        PG Pathak           4           7
33         IJ Gould           3           3
34        AM Saheba           3          23
35   AV Jayaprakash           2           4
36        K Srinath           2          13
37       SJA Taufel           1          54
38       SL Shastri           1          13

In [11]:
most_as_u1 = df_all_umpires.loc[df_all_umpires["as_umpire1"].idxmax(), "umpire_name"]
most_as_u2 = df_all_umpires.loc[df_all_umpires["as_umpire2"].idxmax(), "umpire_name"]

print(f"{most_as_u1} has refereed the most matches as Umpire 1.")
print(f"{most_as_u2} has refereed the most matches as Umpire 1.")

HDPK Dharmasena has refereed the most matches as Umpire 1.
S Ravi has refereed the most matches as Umpire 1.

In [12]:
df_all_umpires["total"] = df_all_umpires["as_umpire1"] + df_all_umpires["as_umpire2"]
most_as_u = df_all_umpires.loc[df_all_umpires["total"].idxmax(), "umpire_name"]

print(f"{most_as_u} has refereed the most matches.")

S Ravi has refereed the most matches.

#### Which player has won the most MOTM awards?

In [13]:
all_motm_players = df_matches["player_of_match"].unique().tolist()
len(all_motm_players)

234

In [14]:
top_15_motm = df_matches["player_of_match"].value_counts().reset_index()
top_15_motm.rename(columns={"index":"player_of_match", "player_of_match":"motm_awards"}, inplace=True)
top_15_motm.head(15)

   player_of_match  motm_awards
0   AB de Villiers           23
1         CH Gayle           22
2        RG Sharma           18
3        DA Warner           17
4         MS Dhoni           17
5        SR Watson           16
6        YK Pathan           16
7         SK Raina           14
8          V Kohli           13
9        G Gambhir           13
10       AM Rahane           12
11      MEK Hussey           12
12      AD Russell           11
13        A Mishra           11
14      KA Pollard           11

In [15]:
print("{} has won the most MOTM awards in IPL history.".format(top_15_motm.loc[top_15_motm.motm_awards.idxmax(), "player_of_match"]))

AB de Villiers has won the most MOTM awards in IPL history.

#### Teams with the most wins

In [16]:
winner_team_list = df_matches["winner"].unique().tolist()
winner_team_list

['Kolkata Knight Riders',
 'Chennai Super Kings',
 'Delhi Daredevils',
 'Royal Challengers Bangalore',
 'Rajasthan Royals',
 'Kings XI Punjab',
 'Deccan Chargers',
 'Mumbai Indians',
 'Pune Warriors',
 'Kochi Tuskers Kerala',
 nan,
 'Sunrisers Hyderabad',
 'Rising Pune Supergiants',
 'Gujarat Lions',
 'Rising Pune Supergiant',
 'Delhi Capitals']

In [17]:
#replace Rising Pune Supergiant to Rising Pune Supergiants

In [18]:
idx_rps = df_matches[df_matches["winner"]=="Rising Pune Supergiant"].index.tolist()
for x in idx_rps:
    df_matches.loc[x, "winner"] = "Rising Pune Supergiants"

In [19]:
# idx_dc = df_matches[df_matches["winner"]=="Deccan Chargers"].index.tolist()
# for x in idx_dc:
#     df_matches.loc[x, "winner"] = "Sunrisers Hyderabad"

In [20]:
# idx_dd = df_matches[df_matches["winner"]=="Delhi Daredevils"].index.tolist()
# for x in idx_dd:
#     df_matches.loc[x, "winner"] = "Delhi Capitals"

In [21]:
idx_nan = df_matches[df_matches["winner"].isna()].index.tolist()

In [22]:
for z in idx_nan:
    df_matches[z, "winner"] = "N/A"

In [23]:
winners_df = df_matches["winner"].value_counts().reset_index().rename(columns={"index":"winner", "winner":"num_wins"})
winners_df

                         winner  num_wins
0                Mumbai Indians       120
1           Chennai Super Kings       106
2         Kolkata Knight Riders        99
3   Royal Challengers Bangalore        91
4               Kings XI Punjab        88
5              Rajasthan Royals        81
6              Delhi Daredevils        67
7           Sunrisers Hyderabad        66
8               Deccan Chargers        29
9                Delhi Capitals        19
10      Rising Pune Supergiants        15
11                Gujarat Lions        13
12                Pune Warriors        12
13         Kochi Tuskers Kerala         6

#### first bat win percentage and second bat win percentage

In [24]:
df_matches

,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,"(241, winner)","(486, winner)","(511, winner)","(744, winner)"
0,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,N/A,N/A,N/A,N/A
1,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,N/A,N/A,N/A,N/A
2,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,N/A,N/A,N/A,N/A
3,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper,N/A,N/A,N/A,N/A
4,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel,N/A,N/A,N/A,N/A
812,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon,N/A,N/A,N/A,N/A
813,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi,N/A,N/A,N/A,N/A
814,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi,N/A,N/A,N/A,N/A
815,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,N/A,N/A,N/A,N/A

In [25]:
first_bat = df_matches[(df_matches["result"]=="runs")]

print(f"The winning percentage of teams batting first is {len(first_bat)/len(df_matches)*100} %")

The winning percentage of teams batting first is 44.6078431372549 %

In [26]:
second_bat = df_matches[(df_matches["result"]=="wickets")]

print(f"The winning percentage of teams batting second is {len(second_bat)/len(df_matches)*100} %")

The winning percentage of teams batting second is 53.30882352941176 %

In [27]:
tie = df_matches[df_matches["result"]=="tie"]

print(f"The percentage of a tie/super-over is {len(tie)/len(df_matches)*100} %")

The percentage of a tie/super-over is 1.5931372549019607 %

#### toss winning team opting to bat win percentage and toss winning team opting to field win percentage

In [28]:
toss_winning_df = df_matches.loc[:, ["toss_winner", "toss_decision", "winner", "result"]]
toss_winning_df

,toss_winner,toss_decision,winner,result
0,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs
1,Chennai Super Kings,bat,Chennai Super Kings,runs
2,Rajasthan Royals,bat,Delhi Daredevils,wickets
3,Mumbai Indians,bat,Royal Challengers Bangalore,wickets
4,Deccan Chargers,bat,Kolkata Knight Riders,wickets
...,...,...,...,...
811,Mumbai Indians,field,Royal Challengers Bangalore,tie
812,Delhi Capitals,field,Mumbai Indians,runs
813,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets
814,Delhi Capitals,bat,Delhi Capitals,runs
815,Delhi Capitals,bat,Mumbai Indians,wickets

In [29]:
toss_winning_df.toss_winner.unique().tolist()

['Royal Challengers Bangalore',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Mumbai Indians',
 'Deccan Chargers',
 'Kings XI Punjab',
 'Kolkata Knight Riders',
 'Delhi Daredevils',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Sunrisers Hyderabad',
 'Gujarat Lions',
 'Rising Pune Supergiants',
 'Rising Pune Supergiant',
 'Delhi Capitals']

In [30]:
# for x in toss_winning_df[toss_winning_df["toss_winner"]=="Deccan Chargers"].index.tolist():
#     toss_winning_df.loc[x, "toss_winner"] = "Sunrisers Hyderabad"
    
# for x in toss_winning_df[toss_winning_df["toss_winner"]=="Delhi Daredevils"].index.tolist():
#     toss_winning_df.loc[x, "toss_winner"] = "Delhi Capitals"
    
for x in toss_winning_df[toss_winning_df["toss_winner"]=="Rising Pune Supergiant"].index.tolist():
    toss_winning_df.loc[x, "toss_winner"] = "Rising Pune Supergiants"

In [31]:
first_bat_toss_win = 0
first_bowl_toss_win = 0
wrong_entries = []
toss_wins_match_wins = 0

for x in range(len(df_matches)):
    if toss_winning_df.loc[x, "toss_winner"] == toss_winning_df.loc[x, "winner"]:
        toss_wins_match_wins+=1
        if toss_winning_df.loc[x, "toss_decision"] == "bat" and toss_winning_df.loc[x, "result"] == "runs":
            first_bat_toss_win += 1
        elif toss_winning_df.loc[x, "toss_decision"] == "field" and toss_winning_df.loc[x, "result"] == "wickets":
            first_bowl_toss_win += 1
        else:
            wrong_entries.append(x)
    else:
        continue

In [32]:
toss_wins_match_wins, first_bat_toss_win, first_bowl_toss_win

(418, 143, 267)

In [33]:
for x in wrong_entries:
    if toss_winning_df.loc[x, "toss_decision"] == "field":
        first_bowl_toss_win += 1
    else:
        first_bat_toss_win += 1

In [34]:
toss_wins_match_wins, first_bowl_toss_win, first_bat_toss_win

(418, 273, 145)

In [35]:
print(f"The winning percentage of teams winning the toss and the match while opting to bat first is {first_bat_toss_win/toss_wins_match_wins*100} %")

The winning percentage of teams winning the toss and the match while opting to bat first is 34.688995215311 %

In [36]:
print(f"The winning percentage of teams winning the toss and the match while opting to bowl first is {first_bowl_toss_win/toss_wins_match_wins*100} %")

The winning percentage of teams winning the toss and the match while opting to bowl first is 65.311004784689 %

In [37]:
print(f"The winning percentage of teams winning the toss and winning the match is {toss_wins_match_wins/len(df_matches)*100} %")

The winning percentage of teams winning the toss and winning the match is 51.225490196078425 %

#### number of sixes and number of fours

In [38]:
df_ball

,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193464,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193465,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians
193466,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193467,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians

In [39]:
df_ball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   inning            193468 non-null  int64
 1   over              193468 non-null  int64
 2   ball              193468 non-null  int64
 3   batsman           193468 non-null  object
 4   non_striker       193468 non-null  object
 5   bowler            193468 non-null  object
 6   batsman_runs      193468 non-null  int64
 7   extra_runs        193468 non-null  int64
 8   total_runs        193468 non-null  int64
 9   non_boundary      193468 non-null  int64
 10  is_wicket         193468 non-null  int64
 11  dismissal_kind    9495 non-null    object
 12  player_dismissed  9495 non-null    object
 13  fielder           6784 non-null    object
 14  extras_type       10233 non-null   object
 15  batting_team      193468 non-null  object
 16  bowling_team      193277 non-null  object
dtypes: int64(8), object(9)
memory usage: 25.1+ MB

In [40]:
sixes = len(df_ball[df_ball["batsman_runs"]==6])
fours = len(df_ball[df_ball["batsman_runs"]==4])

In [41]:
print(f"The number of sixes hit till IPL 2020 are {sixes}")
print(f"The number of fours hit till IPL 2020 are {fours}")

The number of sixes hit till IPL 2020 are 8902
The number of fours hit till IPL 2020 are 21908

#### top 10 players with most fours and sixes

In [42]:
sixes = df_ball[df_ball["batsman_runs"]==6]
top_ten_with_most_sixes = sixes["batsman"].value_counts().nlargest(10).reset_index().rename(columns={"index":"batsman", "batsman":"sixes_hit"})

In [43]:
top_ten_with_most_sixes

          batsman  sixes_hit
0        CH Gayle        349
1  AB de Villiers        235
2        MS Dhoni        216
3       RG Sharma        214
4         V Kohli        202
5      KA Pollard        198
6       DA Warner        195
7        SK Raina        194
8       SR Watson        190
9      RV Uthappa        163

In [44]:
fours = df_ball[df_ball["batsman_runs"]==4]
top_ten_batsman_with_most_fours = fours["batsman"].value_counts().nlargest(10).reset_index()

In [45]:
top_ten_batsman_with_most_fours.rename(columns={"index":"batsman", "batsman":"fours_hit"}, inplace=True)

In [46]:
top_ten_batsman_with_most_fours

          batsman  fours_hit
0        S Dhawan        591
1       DA Warner        510
2         V Kohli        504
3        SK Raina        493
4       G Gambhir        492
5       RG Sharma        458
6      RV Uthappa        454
7       AM Rahane        416
8  AB de Villiers        390
9        CH Gayle        384

#### top ten bowlers with most wickets

In [47]:
df_ball.dismissal_kind.unique()

array([nan, 'caught', 'run out', 'bowled', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field'], dtype=object)

In [48]:
wickets = df_ball[~((df_ball["dismissal_kind"].isna()) | (df_ball["dismissal_kind"]=="run out") | (df_ball["dismissal_kind"]=="retired hurt") | (df_ball["dismissal_kind"]=="obstructing the field"))]

In [49]:
wickets.dismissal_kind.unique()

array(['caught', 'bowled', 'lbw', 'stumped', 'caught and bowled',
       'hit wicket'], dtype=object)

In [50]:
top_ten_bowlers = wickets["bowler"].value_counts().nlargest(10).reset_index().rename(columns={"index":"bowler", "bowler":"wickets"})

In [51]:
top_ten_bowlers

            bowler  wickets
0       SL Malinga      170
1         A Mishra      160
2        PP Chawla      156
3         DJ Bravo      153
4  Harbhajan Singh      150
5         R Ashwin      138
6          B Kumar      136
7        SP Narine      127
8        YS Chahal      121
9         UT Yadav      119

#### top 10 batsman with the most runs scored

In [52]:
top_ten_runs_scorers = df_ball.groupby(["batsman"])["batsman_runs"].sum().nlargest(10).reset_index()

In [53]:
top_ten_runs_scorers

          batsman  batsman_runs
0         V Kohli          5878
1        SK Raina          5368
2       DA Warner          5254
3       RG Sharma          5230
4        S Dhawan          5197
5  AB de Villiers          4849
6        CH Gayle          4772
7        MS Dhoni          4632
8      RV Uthappa          4607
9       G Gambhir          4217

#### top ten bowlers with the most boundaries conceded

In [54]:
top_ten_conceded = df_ball[(df_ball["batsman_runs"]==6) | (df_ball["batsman_runs"]==4)]["bowler"].value_counts().nlargest(10).reset_index()

In [55]:
top_ten_conceded.rename(columns={"index":"bowler", "bowler":"boundaries_conceded"}, inplace=True)

In [56]:
top_ten_conceded

            bowler  boundaries_conceded
0         UT Yadav                  509
1        PP Chawla                  497
2         DJ Bravo                  443
3          P Kumar                  442
4  Harbhajan Singh                  431
5          B Kumar                  424
6       SL Malinga                  400
7         A Mishra                  394
8    R Vinay Kumar                  394
9         I Sharma                  378

#### Team's W/D/L/Number of matches played statistics

In [57]:
df_matches

,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,"(241, winner)","(486, winner)","(511, winner)","(744, winner)"
0,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,N/A,N/A,N/A,N/A
1,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,N/A,N/A,N/A,N/A
2,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,N/A,N/A,N/A,N/A
3,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper,N/A,N/A,N/A,N/A
4,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel,N/A,N/A,N/A,N/A
812,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon,N/A,N/A,N/A,N/A
813,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi,N/A,N/A,N/A,N/A
814,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi,N/A,N/A,N/A,N/A
815,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,N/A,N/A,N/A,N/A

In [58]:
df_matches.winner.unique().tolist()

['Kolkata Knight Riders',
 'Chennai Super Kings',
 'Delhi Daredevils',
 'Royal Challengers Bangalore',
 'Rajasthan Royals',
 'Kings XI Punjab',
 'Deccan Chargers',
 'Mumbai Indians',
 'Pune Warriors',
 'Kochi Tuskers Kerala',
 nan,
 'Sunrisers Hyderabad',
 'Rising Pune Supergiants',
 'Gujarat Lions',
 'Delhi Capitals']

In [59]:
# for x in df_matches[(df_matches["team1"]=="Deccan Chargers") | (df_matches["team2"]=="Deccan Chargers")].index.tolist():
#     if df_matches.loc[x, "team1"] == "Deccan Chargers":
#         df_matches.loc[x, "team1"] = "Sunrisers Hyderabad"
#     else:
#         df_matches.loc[x, "team2"] = "Sunrisers Hyderabad"

In [60]:
# for x in df_matches[(df_matches["team1"]=="Delhi Daredevils") | (df_matches["team2"]=="Delhi Daredevils")].index.tolist():
#     if df_matches.loc[x, "team1"] == "Delhi Daredevils":
#         df_matches.loc[x, "team1"] = "Delhi Capitals"
#     else:
#         df_matches.loc[x, "team2"] = "Delhi Capitals"

In [61]:
for x in df_matches[(df_matches["team1"]=="Rising Pune Supergiant") | (df_matches["team2"]=="Rising Pune Supergiant")].index.tolist():
    if df_matches.loc[x, "team1"] == "Rising Pune Supergiant":
        df_matches.loc[x, "team1"] = "Rising Pune Supergiants"
    else:
        df_matches.loc[x, "team2"] = "Rising Pune Supergiants"

In [62]:
df_matches.team1.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants', 'Delhi Capitals'],
      dtype=object)

In [63]:
df_matches.team2.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Deccan Chargers',
       'Kings XI Punjab', 'Delhi Daredevils', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions', 'Delhi Capitals'],
      dtype=object)

In [64]:
team_stats = pd.DataFrame({"team_name": df_matches.team2.unique().tolist()})

In [65]:
matches_played = []
num_wins = []

for x in team_stats["team_name"]:
    matches_played.append(len(df_matches[(df_matches["team1"]==x) | (df_matches["team2"]==x)]))
    num_wins.append(len(df_matches[df_matches["winner"]==x]))

In [66]:
team_stats["matches_played"] = matches_played
team_stats["wins"] = num_wins

In [67]:
tie_or_na = df_matches[(df_matches["result"].isna())]

In [68]:
na = []
for x in team_stats["team_name"]:
    if len(tie_or_na[(tie_or_na["team1"] == x) | (tie_or_na["team2"]==x)])>0:
        na.append(len(tie_or_na[(tie_or_na["team1"] == x) | (tie_or_na["team2"]==x)]))
    else:
        na.append(0)

In [69]:
team_stats["N/A"] = na

In [70]:
team_stats["loss"] = team_stats["matches_played"] - team_stats["wins"] - team_stats["N/A"]

In [71]:
team_stats["win%"] = (team_stats["wins"]/team_stats["matches_played"])*100

In [72]:
team_stats

                      team_name  matches_played  wins  N/A  loss       win%
0         Kolkata Knight Riders             192    99    0    93  51.562500
1           Chennai Super Kings             178   106    0    72  59.550562
2              Rajasthan Royals             161    81    2    78  50.310559
3   Royal Challengers Bangalore             195    91    3   101  46.666667
4               Deccan Chargers              75    29    0    46  38.666667
5               Kings XI Punjab             190    88    0   102  46.315789
6              Delhi Daredevils             161    67    2    92  41.614907
7                Mumbai Indians             203   120    0    83  59.113300
8          Kochi Tuskers Kerala              14     6    0     8  42.857143
9                 Pune Warriors              46    12    1    33  26.086957
10          Sunrisers Hyderabad             124    66    0    58  53.225806
11      Rising Pune Supergiants              30    15    0    15  50.000000
12                Gujarat Lions              30    13    0    17  43.333333
13               Delhi Capitals              33    19    0    14  57.575758

#### Knockout round stats (team vise)

In [73]:
df_matches.drop(columns=[(241, "winner"), (486, "winner"), (511, "winner"), (744, "winner")], axis=1, inplace=True)

In [74]:
df_matches.eliminator.unique().tolist()

['N', 'Y', nan]

In [75]:
df_matches[df_matches.eliminator == "N"].head()

,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [76]:
df_matches["date"] = pd.to_datetime(df_matches["date"])

In [77]:
df_matches["year"] = df_matches["date"].dt.year

In [78]:
df_matches.year.unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019, 2020], dtype=int64)

In [79]:
eliminators = pd.DataFrame(columns=["team1", "team2", "eliminator_type", "winner", "toss_winner", "venue", "player_of_match", "result", "result_margin", "year"])
years = []

for x in df_matches["year"].unique().tolist():
    if x==2008 or x==2009:
        years.append(list(itertools.repeat(x, 3)))
    else:
        years.append(list(itertools.repeat(x, 4)))

In [80]:
years = [y for x in years for y in x]

In [81]:
eliminators["year"] = years

In [82]:
def eliminator_func(year):
    
    res = []
    if year==2008 or year==2009:
        df = df_matches[df_matches.year==year].tail(3)
        indexes = df.index.tolist()
    else:
        df = df_matches[df_matches.year==year].tail(4)
        indexes = df.index.tolist()
        
    index_eliminators = eliminators[eliminators["year"]==year].index.tolist()
    
    count = 0
    for x,y in zip(index_eliminators, indexes):
        eliminators.loc[x, "team1"] = df.loc[y, "team1"]
        eliminators.loc[x, "team2"] = df.loc[y, "team2"]
        eliminators.loc[x, "winner"] = df.loc[y, "winner"]        
        eliminators.loc[x, "toss_winner"] = df.loc[y, "toss_winner"]        
        eliminators.loc[x, "venue"] = df.loc[y, "venue"]        
        eliminators.loc[x, "player_of_match"] = df.loc[y, "player_of_match"]        
        eliminators.loc[x, "result"] = df.loc[y, "result"]        
        eliminators.loc[x, "result_margin"] = df.loc[y, "result_margin"] 
        
        if count==len(index_eliminators)-1:
            eliminators.loc[x, "eliminator_type"] = "Final"
        else:
            eliminators.loc[x, "eliminator_type"] = "Semi-Finals"
        
        count+=1

In [83]:
for x in df_matches.year.unique().tolist():
    eliminator_func(x)

In [84]:
eliminators.head()

,team1,team2,eliminator_type,winner,toss_winner,venue,player_of_match,result,result_margin,year
0,Delhi Daredevils,Rajasthan Royals,Semi-Finals,Rajasthan Royals,Delhi Daredevils,Wankhede Stadium,SR Watson,runs,105.0,2008
1,Chennai Super Kings,Kings XI Punjab,Semi-Finals,Chennai Super Kings,Kings XI Punjab,Wankhede Stadium,M Ntini,wickets,9.0,2008
2,Chennai Super Kings,Rajasthan Royals,Final,Rajasthan Royals,Rajasthan Royals,Dr DY Patil Sports Academy,YK Pathan,wickets,3.0,2008
3,Delhi Daredevils,Deccan Chargers,Semi-Finals,Deccan Chargers,Deccan Chargers,SuperSport Park,AC Gilchrist,wickets,6.0,2009
4,Royal Challengers Bangalore,Chennai Super Kings,Semi-Finals,Royal Challengers Bangalore,Royal Challengers Bangalore,New Wanderers Stadium,MK Pandey,wickets,6.0,2009

In [85]:
eliminators.tail()

,team1,team2,eliminator_type,winner,toss_winner,venue,player_of_match,result,result_margin,year
45,Mumbai Indians,Chennai Super Kings,Final,Mumbai Indians,Mumbai Indians,"Rajiv Gandhi International Stadium, Uppal",JJ Bumrah,runs,1.0,2019
46,Mumbai Indians,Delhi Capitals,Semi-Finals,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,JJ Bumrah,runs,57.0,2020
47,Royal Challengers Bangalore,Sunrisers Hyderabad,Semi-Finals,Sunrisers Hyderabad,Sunrisers Hyderabad,Sheikh Zayed Stadium,KS Williamson,wickets,6.0,2020
48,Delhi Capitals,Sunrisers Hyderabad,Semi-Finals,Delhi Capitals,Delhi Capitals,Sheikh Zayed Stadium,MP Stoinis,runs,17.0,2020
49,Delhi Capitals,Mumbai Indians,Final,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,TA Boult,wickets,5.0,2020

#### which team have won the most IPLs and which team have played the most finals?

In [86]:
final = eliminators[eliminators["eliminator_type"]=="Final"]

In [87]:
final_winners = final["winner"].value_counts().reset_index().rename(columns={"index":"team_name"})
final_winners

               team_name  winner
0         Mumbai Indians       5
1    Chennai Super Kings       3
2  Kolkata Knight Riders       2
3       Rajasthan Royals       1
4        Deccan Chargers       1
5    Sunrisers Hyderabad       1

In [88]:
unique_teams = []

for x in final.team1.unique().tolist():
    unique_teams.append(x)

for x in final.team2.unique().tolist():
    if x not in unique_teams:
        unique_teams.append(x)

In [89]:
teams_count = {}

for x in unique_teams:
    count = len(final[(final["team1"]==x) | (final["team2"]==x)])
    teams_count[x] = count

In [90]:
teams_count

{'Chennai Super Kings': 8,
 'Royal Challengers Bangalore': 3,
 'Kolkata Knight Riders': 2,
 'Mumbai Indians': 6,
 'Delhi Capitals': 1,
 'Rajasthan Royals': 1,
 'Deccan Chargers': 1,
 'Kings XI Punjab': 1,
 'Sunrisers Hyderabad': 2,
 'Rising Pune Supergiants': 1}

In [91]:
print("Chennai Super Kings have appeared in the most finals.")

Chennai Super Kings have appeared in the most finals.

#### Most MOTM awards in the knockout rounds

In [92]:
players = eliminators.player_of_match.value_counts().nlargest(2).index.tolist()
print(f"{players[0]} and {players[1]} share the top-position for winning the most MOTM awards ({eliminators.player_of_match.value_counts().max()}) in the knockout rounds")

KA Pollard and SK Raina share the top-position for winning the most MOTM awards (3) in the knockout rounds

#### H2H stats

In [142]:
all_team1 = df_matches.team1.unique().tolist()
all_team2 = df_matches.team2.unique().tolist()

In [143]:
h2h = []

for x in all_team1:
    for y in all_team2:
        if x==y or [x,y] in h2h or [y,x] in h2h:
            continue
        h2h.append([x,y])

In [144]:
h2h_df = pd.DataFrame()
h2h_df["team1"] = [x[0] for x in h2h]
h2h_df["team2"] = [x[1] for x in h2h]

In [145]:
matches = []
wt1 = []
wt2 = []
t1tw = []
t2tw = []

for x in h2h:
    one = df_matches[(df_matches["team1"]==x[0]) & (df_matches["team2"]==x[1])]
    two = df_matches[(df_matches["team1"]==x[1]) & (df_matches["team2"]==x[0])]
    total = len(one) + len(two)
    
    wins_team1 = len(one[one["winner"]==x[0]]) + len(two[two["winner"]==x[0]])
    wins_team2 = len(one[one["winner"]==x[1]]) + len(two[two["winner"]==x[1]])
    
    team1_toss_wins = len(one[one["toss_winner"]==x[0]]) + len(two[two["toss_winner"]==x[0]])
    team2_toss_wins = len(one[one["toss_winner"]==x[1]]) + len(two[two["toss_winner"]==x[1]])
    
    matches.append(total)
    wt1.append(wins_team1)
    wt2.append(wins_team2)
    t1tw.append(team1_toss_wins)
    t2tw.append(team2_toss_wins)

In [146]:
h2h_df["matches"] = matches

In [147]:
h2h_df["team1_match_wins"] = wt1
h2h_df["team2_match_wins"] = wt2

In [148]:
h2h_df["team1_toss_wins"] = t1tw
h2h_df["team2_toss_wins"] = t2tw

In [149]:
h2h_df

,team1,team2,matches,team1_match_wins,team2_match_wins,team1_toss_wins,team2_toss_wins
0,Royal Challengers Bangalore,Kolkata Knight Riders,26,12,14,14,12
1,Royal Challengers Bangalore,Chennai Super Kings,25,9,16,8,17
2,Royal Challengers Bangalore,Rajasthan Royals,22,10,10,9,13
3,Royal Challengers Bangalore,Deccan Chargers,11,5,6,6,5
4,Royal Challengers Bangalore,Kings XI Punjab,26,12,14,13,13
...,...,...,...,...,...,...,...
86,Sunrisers Hyderabad,Gujarat Lions,5,5,0,5,0
87,Sunrisers Hyderabad,Delhi Capitals,6,3,3,2,4
88,Gujarat Lions,Rising Pune Supergiants,4,3,1,2,1
89,Gujarat Lions,Delhi Capitals,0,0,0,0,0
90,Rising Pune Supergiants,Delhi Capitals,0,0,0,0,0